$spacing-padding-xxxsmall: 0.25rem;
$spacing-padding-xxsmall: 0.5rem;
$spacing-padding-xsmall: 1rem;
$spacing-padding-small: 1.5rem;
$spacing-padding-medium: 2rem;
$spacing-padding-large: 2.5rem;
$spacing-padding-xlarge: 3rem;
$spacing-padding-xxlarge: 3.5rem;

$spacing-margin-xxxxsmall: 0.125rem;
$spacing-margin-xxxsmall: 0.25rem;
$spacing-margin-xxsmall: 0.5rem;
$spacing-margin-xsmall: 1rem;
$spacing-margin-small: 1.5rem;
$spacing-margin-medium: 2rem;
$spacing-margin-large: 2.5rem;
$spacing-margin-xlarge: 3rem;
$spacing-margin-xxlarge: 3.5rem;