$font-family-01: 'Roboto', Helvetica, Arial, sans-serif;
$font-family-02: 'Montserrat', Helvetica, Arial, sans-serif;
$font-family-03: 'Lato', Helvetica, Arial, sans-serif;

// SIZE
$font-size-display-hg: 48px;
$font-size-display-md: 36px;
$font-size-display-sm: 26px;

$font-size-h1: $font-size-display-md;
$font-size-h2: 18px;
$font-size-default: 16px;
$font-size-paragraph: 14px;
$font-size-mb-default: 12px;

// OPACITY
$font-opacity-hg: .87;
$font-opacity-md: .54;
$font-opacity-sm: .38;

// WEIGHT
$font-weight-regular: 400;
$font-weight-bold: 600;
