<!-- HEADER -->
<header class="header">
    <!-- LOGO PAYFRIENDS -->
    <div class="logo-header">
        <img src="../../assets/img/logo-white.png" />
    </div>

    <!-- AvVATAR USER AND MENU -->
    <div class="avatar-header">
        <button class="avatar-btn" [matMenuTriggerFor]="menu">
        </button>
        <mat-menu #menu="matMenu">
            <!-- MY PROFILE -->
            <button mat-menu-item>
                <mat-icon>
                    manage_accounts
                </mat-icon>
                <span>My profile</span>
            </button>

            <!-- LOGOUT -->
            <button mat-menu-item (click)='this.loginService.doLogoutUser()'>
                <mat-icon>
                    logout
                </mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>

    </div>
</header>