@import "./variables";

@import "./utils/reset";
@import "./utils/normalize";
@import "./utils/grid.brekpoints";

@import "./layouts/flexbox";
@import "./layouts/typography";
@import "./layouts/grid";
@import "./layouts/colors";
@import "./layouts/sizes";
@import "./layouts/spacing";
@import "./layouts/states";

@import "./components/table";

#app, body {
  font-family: $font-family-01;
  color: $color-text-primary;
  background-color: $color-ui-gray;
}
