.payment {
  background-color: #f2f2f2;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

h2 {
  font-size: 36px;
  margin-top: 65px;
  margin-bottom: 45px;
  margin-left: 1.5%;
  font-weigth: 600;
  width:25%;
}

.centerTable {
  display: flex;
  width:100%;
  height: calc(82.4% - 119px);
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

.table {
  width: 97%;
  height: fit-content;
  border-radius: 10px;
  background-color: white;
  margin: 0;
}

table {
  width:100%;
  thead {
    width:60%;
    display:flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-bottom: 10px;
    th {
      display: flex;
      color: #2D3540;
      cursor: pointer;
    }
  }
  tbody {
    display: unset;
    width: 100%;
  }
  tr {
    display: inline-block;
    width: 100%;
  }
  td {
    display: inline-block;
    word-wrap: initial;
    height: 81px;
    p {
      margin-top: 25px;
    }
  }
  mat-checkbox {
   margin-top: 25px;

  }
  .user {
    width: 14%;
    margin-left: 20px;
    margin-right: 14px;
  }
  .title {
    width: 14%;
  }
  .date {
    width: 13.5%;
  }
  .value {
    width: 14%;
  }

  .payed {
    margin-left: 10px;
  }

  .actions {
    width: 41.1%;
  }

}
.checkBox {
  ::ng-deep .mat-checkbox-checked.mat-accent {
    .mat-checkbox-ripple .mat-ripple-element {
      background-color: #007DFE !important;
    }

    .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
      background-color: #007DFE;
    }
  }

  ::ng-deep .mat-checkbox.mat-accent {
    .mat-checkbox-ripple .mat-ripple-element {
      background-color: #007DFE !important;
    }
  }

  ::ng-deep .mat-checkbox-background {
    background-color: #007DFE;
  }

}
.line {
  border-bottom: 2px solid #CFDCE5;
  width: 100%;
}

.titleColumn {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.filters {
  margin-left: 25px;
  margin-top: 10px;
}

.input {
  ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}


  ::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: rgba(0, 0, 0, 0.12)!important;
  }


  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgba(0, 0, 0, 0.3) !important;
  }


  ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: rgba(0, 0, 0, 0.12)!important;
  }

  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: #f44336 !important;
    opacity: 0.8!important;
  }


  ::ng-deep .mat-input-element {
    caret-color: rgba(0, 0, 0, 0.12)!important;
  }


  ::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
    caret-color: #f44336 !important;
  }


  ::ng-deep .mat-form-field-label {
    color: rgba(0,0,0,.6)!important;
    // color: $mainColor!important;
  }


  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: rgba(0, 0, 0, 0.12)!important;
  }


  ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: #f44336 !important;
  }
}

.buttonSettings {
  background-color: #E6ECF0;
  color: #2D3540;
  height: 25px;
  font-size: 12px;
  margin-left: 10px;
  margin-top: -50px;
  line-height: 20px;
  bottom: 6px;
  mat-icon {
    margin-bottom: 2.5px;
  }
}

.options {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.rowPainted {
  background-color: #F5F8FA;
}

.DivButtonAddPayment {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.buttonAddPayment {
  margin-right: 40px;
  width: 230px;
  height: 36px;
}