.payment {
  background-color: #f2f2f2;
}

h2 {
  font-size: 36px;
  margin-top: 30px;
  margin-left: 2%;
  font-weigth: 600;
}
.centerTable {
  display: flex;
  width:100%;
  height: calc(82.4% - 90px);
  flex-direction: row;
  justify-content: center;
  margin: 0;
}
.table {
  width: 97%;
  height: fit-content;
  border-radius: 10px;
  background-color: white;
  margin: 0;
}

table {
  width:100%;
  thead {
    width:60%;
    display:flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-bottom: 10px;
    th {
      display: flex;
      color: #2D3540;
      cursor: pointer;
    }
  }
}

.line {
  border-bottom: 2px solid #CFDCE5;;
}

.titleColumn {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.filters {
  margin-left: 25px;
  margin-top: 10px;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
