<div class="main payment">
    <app-toolbar></app-toolbar>
    <h2>Meus pagamentos</h2>
    <div class="centerTable">
        <div class="table">
            <div class="filters">
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Pesquisar por usuário">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
            <table>
                <thead>
                    <th>
                        <div class="titleColumn">
                            Usuário
                        </div>
                        <div>
                            <mat-icon >unfold_more</mat-icon>
                        </div>
                    </th>
                    <th>
                        <div class="titleColumn">
                            Título
                        </div>
                        <mat-icon >unfold_more</mat-icon>
                    </th>
                    <th>
                        <div class="titleColumn">
                            Data
                        </div>
                        <mat-icon >unfold_more</mat-icon>
                    </th>
                    <th>
                        <div class="titleColumn">
                            Valor
                        </div>
                        <mat-icon >unfold_more</mat-icon>
                    </th>
                    <th>
                        <div class="titleColumn">
                            Pago
                        </div>
                        <mat-icon >unfold_more</mat-icon>
                    </th>
                </thead>
                <div class="line"></div>
                <tbody>
                    <ng-container>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>