<div class="main payment">
    <div style="min-width: 1299px;">
        <app-toolbar></app-toolbar>
        <h2>Meus pagamentos</h2>
        <div class="divButtonAddPayment">
            <button id="addPayment" class="button buttonAddPayment" (click)="openModalAddPayment()" mat-raised-button>
                ADICIONAR PAGAMENTO
            </button>
        </div>
        <div class="centerTable">
            <div class="table">

                <div class="options">
                    <div class="filters input">
                        <mat-form-field appearance="outline">
                            <input id="search" (change)="searchInTable($event.target.value)" matInput placeholder="Pesquisar por usuário">
                            <mat-icon matSuffix>search</mat-icon>
                        </mat-form-field>
                        <button id="filterDateRange" (click)="filterDateRange()" class="buttonSettings" mat-raised-button>
                            <mat-icon matSuffix inline="true">settings_input_component</mat-icon>
                            Filtrar
                        </button>
                        <button id="refresh" (click)="getTasks()"  class="refresh" mat-button [disableRipple]="true">
                            <mat-icon style="margin-bottom: 8px">refresh</mat-icon>
                        </button>
                    </div>
                    <app-paginator (taskPaginationEmit)="handlePagination($event)" [tasks]="tasks" style="margin-right: 25px; margin-top: 10px;"></app-paginator>
                </div>
                <table style="width: 100%">
                    <thead>
                    <th (click)="organizer('name')">
                        <div class="titleColumn">
                            Usuário
                        </div>
                        <div>
                            <mat-icon >unfold_more</mat-icon>
                        </div>
                    </th>
                    <th (click)="organizer('title')">
                        <div class="titleColumn">
                            Título
                        </div>
                        <mat-icon >unfold_more</mat-icon>
                    </th>
                    <th (click)="organizer('date')">
                        <div class="titleColumn">
                            Data
                        </div>
                        <mat-icon >unfold_more</mat-icon>
                    </th>
                    <th (click)="organizer('value')">
                        <div class="titleColumn">
                            Valor
                        </div>
                        <mat-icon >unfold_more</mat-icon>
                    </th>
                    <th (click)="organizer('isPayed')">
                        <div class="titleColumn">
                            Pago
                        </div>
                        <mat-icon >unfold_more</mat-icon>
                    </th>
                    </thead>
                    <div class="line"></div>

                    <ng-container *ngFor="let task of pagination; let index = index">
                        <tr [ngClass]="(index+1)%2 === 0 ? 'rowPainted': ''">
                            <td class="user"><p>{{ task.name }}</p></td>
                            <td class="title"><p>{{ task.title }}</p></td>
                            <td class="date">
                                <p>{{ task.date | date: 'dd MMM yyyy'}}</p>
                                <p style="margin: 0; color: #69788C; font-size: 12px">
                                    {{ task.date | date: 'hh:mm a' }}
                                </p>
                            </td>
                            <td class="value"><p>{{ task.value | currency: 'BRL': true}}</p></td>
                            <td class="payed">
                                <div class="checkBox">
                                    <mat-checkbox [checked]="task.isPayed" class="example-margin"></mat-checkbox>
                                </div>
                            </td>
                            <td class="actions">
                                <div class="divActions">
                                    <mat-icon id="edit" style="cursor: pointer" (click)="editPayment(task)" matSuffix>
                                        edit
                                    </mat-icon>
                                    <mat-icon id="delete" style="cursor: pointer" (click)="deletePayment(task)" matSuffix>cancel</mat-icon>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </table>
            </div>
        </div>
    </div>
</div>