<table>
  <thead>
    <tr>
      <th *ngFor="let column of columns">
        <div class="column-container" *ngIf="column.name">
          <p>{{ column.name }}</p>
          <button><img src="./assets/images/arrow.png" alt="Ordenar" /></button>
        </div>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let transaction of transactions">
      <td>
        <p>{{ transaction.name }}</p>
        <p class="subtitle">@{{ transaction.username }}</p>
      </td>
      <td>
        <p>{{ transaction.title }}</p>
      </td>
      <td>
        <p>{{ transaction.date | date: 'dd MMM y' }}</p>
        <p class="subtitle">{{ transaction.date | date: 'h:mm a' }}</p>
      </td>
      <td>
        <p>
          {{ priceFormat(transaction.value) }}
        </p>
      </td>

      <td>
        <label class="checkbox-container">
          <input type="checkbox" [checked]="transaction.isPayed" />
          <span class="checkbox-custom"></span>
        </label>
      </td>
      <td>
        <p class="actions">
          <button><img src="./assets/images/pencil.png" alt="Editar pagamento" /></button>
          <button><img src="./assets/images/delete.png" alt="Deletar pagamento" /></button>          
        </p>
      </td>
    </tr>
  </tbody>
</table>
