<table>
  <thead>
    <tr>
      <th *ngFor="let column of columns">
        <div class="column-container" *ngIf="column.name">
          <p>{{ column.name }}</p>
          <button><img src="./assets/images/arrow.png" alt="Ordenar" /></button>
        </div>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let transaction of transactions">
      <td>
        <p>{{ transaction.name }}</p>
        <p class="subtitle">@{{ transaction.username }}</p>
      </td>
      <td>
        <p>{{ transaction.title }}</p>
      </td>
      <td>
        <p>{{ transaction.date | date: 'dd MMM y' }}</p>
        <p class="subtitle">{{ transaction.date | date: 'h:mm a' }}</p>
      </td>
      <td>
        <p>
          {{ priceFormat(transaction.value) }}
        </p>
      </td>

      <td>
        <label class="checkbox-container">
          <input type="checkbox" [checked]="transaction.isPayed" />
          <span class="checkbox-custom"></span>
        </label>
      </td>
      <td>
        <p class="actions">
          <button (click)="openModalTransaction(transaction)">
            <img src="./assets/images/pencil.png" alt="Editar pagamento" />
          </button>
          <button (click)="openModalDelete(transaction)">
            <img src="./assets/images/delete.png" alt="Deletar pagamento" />
          </button>
        </p>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #deleteModal>
  <div class="delete-modal modal-body">
    <p class="modal-title">Excluir pagamento</p>

    <p>Usuário: {{ deleteModalTransaction.name }}</p>
    <p>Data: {{ deleteModalTransaction.date | date: 'dd/mm/YY' }}</p>
    <p>Valor: {{ priceFormat(deleteModalTransaction.value) }}</p>

    <div class="button-container center">
      <button (click)="onDeclineDelete()" class="button button--secondary">
        CANCELAR
      </button>
      <button
        (click)="onConfirmDelete(deleteModalTransaction.id)"
        class="button"
      >
        SALVAR
      </button>
    </div>
  </div>
</ng-template>

<ng-template #transactionModal>
  <div class="transaction-modal modal-body">
    <form [formGroup]="form">
      <p class="modal-title">Adicionar pagamento</p>

      <div class="container">
        <div class="input-container">
          <input id="username" type="text" required formControlName="username" />
          <label for="username" alt="Usuário" placeholder="Usuário"></label>
        </div>

        <div class="input-container">
          <input id="value" type="text" required formControlName="value"/>
          <label for="value" alt="Valor" placeholder="Valor"></label>
        </div>

        <div class="input-container">
          <input id="date" type="text" required formControlName="date" />
          <label for="date" alt="Data" placeholder="Data"></label>
        </div>

        <div class="input-container">
          <input id="title" type="text" required formControlName="title"/>
          <label for="title" alt="Título" placeholder="Título"></label>
        </div>
      </div>

      <div class="button-container right">
        <button (click)="onDeclineTransaction()" class="button button--secondary">
          CANCELAR
        </button>
        <button
          (click)="onSubmit()"
          class="button"
        >
          SALVAR
        </button>
      </div>
    </form>
  </div>
</ng-template>
