.mainModal {
  width: 50vw;
  height: 35vh;
  margin: 0;
  min-width: 787.5px;
}
mat-dialog-container {
  min-width: 835.5px !important;
}
h1{
  font-weight: 1;
  margin-left: 2%;
  margin-top: 3%;
  margin-bottom: 3%;
  font-size: 25px;
  font-weight: bolder;
}

.inputRow {
  display: flex;
  justify-content: space-between;
  margin: 0 2%;
  margin-bottom: 3%;
}

.input {

  mat-form-field{
    width: 40% !important;
  }

  ::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: rgba(0, 0, 0, 0.12)!important;
  }


  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgba(0, 0, 0, 0.12) !important;
  }


  ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: rgba(0, 0, 0, 0.12)!important;
  }

  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: #f44336 !important;
    opacity: 0.8!important;
  }


  ::ng-deep .mat-input-element {
    caret-color: rgba(0, 0, 0, 0.12)!important;
  }


  ::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
    caret-color: #f44336 !important;
  }


  ::ng-deep .mat-form-field-label {
    color: rgba(0,0,0,.6)!important;
    // color: $mainColor!important;
  }


  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: rgba(0, 0, 0, 0.6)!important;
  }


  ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: #f44336 !important;
  }
}

.buttonRow {
  display: flex;
  justify-content: flex-end;
}

.buttonModal {
  width: 150px;
}

::ng-deep .mat-icon-button {
  visibility: hidden !important;
}