@import '../../../../styles/variables';

.table-actions-container,
.search-container,
.pagination-container,
.pagination-buttons {
  display: flex;
  align-items: center;
}

.table-actions-container {
  justify-content: space-between;
}

.pagination-container {
  .po-icon, .page-index {
    font-size: 1.5rem;
    font-weight: $bold;
    color: rgba(51, 51, 51, 0.7);
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $primary;
    }
  }

  .active-page {
    color: $primary;
    font-weight: $bold;
  }
}