@import '../../../../styles/variables';

.table-actions-container,
.search-container,
.pagination-container,
.pagination-buttons {
  display: flex;
  align-items: center;
}

.table-actions-container {
  justify-content: space-between;
}

.pagination-container {
  .po-icon, span {
    font-size: 1.5rem;
    font-weight: $semiBold;
    color: $typography;
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $primary;
    }
  }
}

