<div class="relative" [formGroup]="parent">
  <label for="password" class="font-body absolute left-0 -top-3.5 ml-3.5 px-1 bg-gray text-base text-black-medium">
    Senha
  </label>
  <input
    id="password"
    name="password"
    [type]="toggled ? 'text' : 'password'"
    formControlName="password"
    class="h-10 w-full border border-black-outline rounded p-4 text-black-emphasis bg-gray focus:outline-none"
  />

  <div class="absolute inset-y-0 right-0 flex items-center px-2">
    <label class="text-sm text-black-medium" (click)="onToggleChange()">
      <img
        class="px-2 py-1 text-black-medium hover:text-black cursor-pointer"
        src="/assets/eye.svg"
        alt="Password Eye"
        *ngIf="!toggled"
      />
      <img
        class="px-2 py-1 text-black-medium hover:text-black cursor-pointer"
        src="/assets/eye-slash.svg"
        alt="Password Eye Toggled"
        *ngIf="toggled"
      />
    </label>
  </div>
</div>

<div
  *ngIf="password?.invalid && (password?.dirty || password?.touched || touchedButton)"
  class="font-medium text-red text-xs mt-1 ml-1"
>
  <div id="password-required" *ngIf="password?.errors?.required">Senha é obrigatório.</div>
</div>
