@import '../../../../styles/variables';

.header-container {
  height: 8rem;
  background-color: $secondary;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  padding: 0 2rem;
}