
<ng-template [ngIf]="this.data?.edit" [ngIfElse]="addPagamento">
    <h2>Editar Pagamento</h2>
</ng-template>
<ng-template #addPagamento>
    <h2>Adicionar Pagamento</h2>
</ng-template>

<form [formGroup]="paymentForm" *ngIf="paymentForm"> 
    <mat-form-field appearance="outline">
        <mat-label>Usuário</mat-label>
        <input formControlName="username" matInput type="text">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Valor</mat-label>
        <input formControlName="value" matInput type="number">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Data</mat-label>
        <input formControlName="date" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Titulo</mat-label>
        <input formControlName="title" matInput type="text">
    </mat-form-field>
    
    <div class="checkbox-group">
        <mat-checkbox formControlName="isPayed" name="isPayed"></mat-checkbox>
        <mat-label for="isPayed"> Pago.</mat-label>
    </div>
    
    <div class="button-group">
        <button mat-flat-button (click)="stopOperation()">Cancelar</button>
        <button mat-flat-button (click)="data?.edit ? editPayment() : createPayment()" color="primary">Salvar</button>
    </div>
</form>