
<h2>Adicionar Pagamento</h2>

<form [formGroup]="paymentForm"> 
    <mat-form-field appearance="outline">
        <mat-label>Usuário</mat-label>
        <input formControlName="username" matInput type="text">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Valor</mat-label>
        <input formControlName="value" matInput type="number">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Data</mat-label>
        <input formControlName="date" matInput type="date">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Titulo</mat-label>
        <input formControlName="title" matInput type="text">
    </mat-form-field>

    <div>
        <button mat-flat-button (click)="stopOperation()">Cancelar</button>

        <button mat-flat-button (click)="createPayment()" color="primary">Salvar</button>
    </div>
</form>