form {
    display: flex;
    flex-wrap: wrap;

    mat-form-field {
        margin: 5px;
        width: 40%;
    }

    div {
        text-align: right;
    }

    button {
        height: 36px;
        width: 150px;
    }
}