<div class="relative" [formGroup]="parent">
  <input
    id="email"
    name="email"
    type="email"
    formControlName="email"
    class="h-10 w-full border border-black-outline rounded p-4 text-black-emphasis bg-gray focus:outline-none"
  />
  <label for="email" class="font-body absolute left-0 -top-3.5 ml-3.5 px-1 bg-gray text-base text-black-medium">
    Email
  </label>
</div>

<div
  *ngIf="email?.invalid && (email?.dirty || email?.touched || touchedButton)"
  class="font-medium text-red text-xs mt-1 ml-1"
>
  <div id="email-required" *ngIf="email?.errors?.required">E-mail é obrigatório.</div>
  <div id="email-invalid" *ngIf="email?.errors?.email">E-mail precisa ser válido</div>
</div>
