<section class="bg-login">
    <div class="form-login">
        <img src="../../assets/img/logo-blue.svg">
        <p>Bem vindo de volta </p>

        <mat-form-field class="form-field" appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput type="email" placeholder="Ex. example@example.com">
        </mat-form-field>

        <mat-form-field class="form-field" appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput type="password">
        </mat-form-field>

        <button mat-raised-button class="form-button">Entrar</button>
    </div>

    <div class="img-login">
        <img src="../../assets/img/bg-img-login.PNG">
    </div>


</section>