<div [formGroup]="parent" class="grid grid-cols-6 gap-6">
  <div class="col-span-6 sm:col-span-3">
    <label for="first-name" class="block text-sm font-medium text-gray-700">Usuário</label>
    <input
      type="text"
      formControlName="username"
      class="px-3 py-2 rounded text-sm border border-gray-300 focus:outline-none pr-10"
    />

    <div
      *ngIf="username?.invalid && (username?.dirty || username?.touched)"
      class="font-medium text-red-500 text-xs mt-1 ml-1"
    >
      <div *ngIf="username?.errors?.required">Username é obrigatório.</div>
    </div>
  </div>

  <div class="col-span-6 sm:col-span-3">
    <label for="last-name" class="block text-sm font-medium text-gray-700">Valor</label>
    <input
      type="number"
      formControlName="value"
      class="px-3 py-2 rounded text-sm border border-gray-300 focus:outline-none pr-10"
    />

    <div *ngIf="value?.invalid && (value?.dirty || value?.touched)" class="font-medium text-red-500 text-xs mt-1 ml-1">
      <div *ngIf="value?.errors?.required">Valor é obrigatório.</div>
    </div>
  </div>

  <div class="col-span-6 sm:col-span-3">
    <label for="first-name" class="block text-sm font-medium text-gray-700">Data</label>
    <input
      type="date"
      formControlName="date"
      class="px-3 py-2 rounded text-sm border border-gray-300 focus:outline-none pr-10"
    />

    <div *ngIf="date?.invalid && (date?.dirty || date?.touched)" class="font-medium text-red-500 text-xs mt-1 ml-1">
      <div *ngIf="date?.errors?.required">Data é obrigatória.</div>
    </div>
  </div>

  <div class="col-span-6 sm:col-span-3">
    <label for="last-name" class="block text-sm font-medium text-gray-700">Título</label>
    <input
      type="text"
      formControlName="title"
      class="px-3 py-2 rounded text-sm border border-gray-300 focus:outline-none pr-10"
    />
  </div>
</div>
