<h1 mat-dialog-title>Excluir pagamento</h1>

<div mat-dialog-content>
  <div class="p-1">
    <p>Usuário: {{ data.name }}</p>
    <p>Data: {{ data.date | date: 'dd/MM/yyyy' }}</p>
    <p>Valor: {{ data.value | currency: 'BRL':true }}</p>
  </div>
</div>

<div mat-dialog-actions align="end">
  <div class="flex gap-3">
    <button
      type="button"
      id="cancel"
      class="flex gap-1 bg-gray-button py-2 px-3 rounded font-semibold hover:bg-gray focus:outline-none"
      (click)="cancel()"
    >
      Cancelar
    </button>
    <app-button type="button" buttonId="delete" (clicked)="onDelete()" buttonLabel="Salvar"></app-button>
  </div>
</div>
