<h5 class="title-dialog font-weight-bold">{{title}}</h5>
<!--   -->
<mat-dialog-content class="mat-typography">
    <form>
        <div class="row">
            <mat-form-field appearance="outline" class="col">
                <mat-label>Nome</mat-label>
                <input name="name" matInput required [(ngModel)]="payment.name">
            </mat-form-field>
            <mat-form-field appearance="outline" class="col">
                <mat-label>Valor</mat-label>
                <input name="value" matInput required [(ngModel)]="payment.value">
            </mat-form-field>
        </div>
        <div class="row d-flex">
            <mat-form-field appearance="outline" class="col">
                <mat-label>Data</mat-label>
                <input name="date" type="date" matInput required [(ngModel)]="payment.date">
            </mat-form-field>
            <mat-form-field appearance="outline" class="col">
                <mat-label>Título</mat-label>
                <input name="title" matInput required [(ngModel)]="payment.title">
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<!-- [disabled]="!form.valid" -->
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button class="btn-save" [mat-dialog-close]="true" cdkFocusInitial (click)="onSubmit()">Salvar</button>
</mat-dialog-actions>