.btn-save{
    width: auto;
    float: right;
    background: #007DFE;
    border-radius: 4px;
    font-family:  Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.title-dialog{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    color: #333333;
}

.example-full-width{
    border-radius: 3.5px;
    }