<div class="min-h-screen bg-white flex">
  <div class="flex-1 flex flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24 bg-gray-100 w-2/5">
    <div class="mx-auto w-full max-w-sm">
      <div>
        <app-logo></app-logo>

        <app-login-welcome></app-login-welcome>
      </div>

      <div class="mt-8">
        <app-login-form (submitted)="doLogin($event)"></app-login-form>
      </div>
    </div>
  </div>

  <div class="hidden lg:block relative flex-1 w-3/5">
    <app-login-illustration></app-login-illustration>
  </div>
</div>
