<div class="login-container">
  <section class="form">
    <img src="./assets/Logo.png" alt="Logo da marca" />
    <form>
      <h1>Bem vindo de volta</h1>

      <div class="input-container">
        <input id="input" type="email" required />
        <label for="input" alt="E-mail" placeholder="E-mail"></label>
      </div>

      <div class="input-container">
        <input id="input" type="password" required />
        <label for="input" alt="Senha" placeholder="Senha"></label>
      </div>

      <button class="button" type="submit" (click)="payments()">ENTRAR</button>
    </form>
  </section>
  <div class="image-container">
    <img src="./assets/man.png" alt="Homem ao lado de um poste de luz" />
  </div>
</div>
