@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap');

$light-grey: #E5E5E5;
$medium-grey: #333;
$dark-blue: #002D69;
$light-blue: #6BA5E4;
$font-size-md: 24px;
$font-size-lg: 30px; 

:host {
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

#login-section {
    background-color: $light-grey;
    flex-basis: 512px;
    min-height: 100vh;
    padding: 0 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    #logo {
        font-size: $font-size-md;
        color: $light-blue;

        span {
            font-weight: bold;
            color: $dark-blue;    
        } 
    }

    h1 {
        margin-bottom: 32px;
        font-size: $font-size-lg;
    }
}

#image-section {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex {
    display: flex;
}