@import 'src/assets/styles/global-variables';

:host {
    font-family: 'Montserrat', sans-serif;
    color: $dark-grey;
}

#login-section {
    background-color: $light-grey;
    flex-basis: 512px;
    min-height: 100vh;
    padding: 0 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    #logo {
        font-size: $font-size-md;
        color: $light-blue;

        span {
            font-weight: bold;
            color: $dark-blue;    
        } 
    }

    h1 {
        margin-bottom: 32px;
        font-size: $font-size-lg;
    }
}

#image-section {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex {
    display: flex;
}