<div class="login">
  <div class="login__form container">
    <div>
      <img src="../../../assets/images/logos/logo.svg" alt="" />
      <h1 class="login__well-come">Bem vindo de volta</h1>
      <form class="form-group" [formGroup]="login">
        <payfriends-input
          label="E-mail"
          id="login-email"
          type="email"
          formControlName="email"
          (actionEnter)="loginFlow()"
          placeholder="lucas@mail.com">
        </payfriends-input>
        <payfriends-input
          id="login-password"
          (iconAction)="chageTypeInputPassord()"
          (actionEnter)="loginFlow()"
          formControlName="password"
          [type]="typeInputPassord"
          label="senha"
          icon="look-icon"
          placeholder="****">
        </payfriends-input>
        <payfriends-button
          [disabled]="!login.valid"
          (onClick)="loginFlow()"
          class="flex mt-3">
          Entrar
        </payfriends-button>
      </form>
    </div>
  </div>
  <div class="login__hero bg--white">
    <img src="../../../assets/images/man-doing-online-paymant.svg" alt="" />
  </div>
</div>
