@import '../styles/variables';

.container-default {
  width: 100vw;
  height: 100vh;
}

.container-when-user-authenticated {
  background-color: $background;
  padding-top: 12rem;
  padding-left: 3rem;
  padding-right: 3rem;
}