<div class="hidden md:block">
  <div class="ml-4 flex items-center md:ml-6">
    <!-- Profile dropdown -->
    <div class="ml-3 relative">
      <div>
        <button
          type="button"
          class="
            max-w-xs
            rounded-full
            flex
            items-center
            text-sm
            focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white
          "
          id="user-menu-button"
          aria-expanded="false"
          aria-haspopup="true"
          (click)="showMenu()"
        >
          <span class="sr-only">Abrir menu do usuário</span>
          <img class="h-8 w-8 rounded-full" src="assets/avatar.png" alt="Avatar" />
        </button>
      </div>

      <div
        *ngIf="isMenuOpened"
        class="
          origin-top-right
          absolute
          right-0
          mt-2
          w-48
          rounded-md
          shadow-lg
          py-1
          bg-white
          ring-1 ring-black ring-opacity-5
          focus:outline-none
        "
        role="menu"
        aria-orientation="vertical"
        aria-labelledby="user-menu-button"
        tabindex="-1"
      >
        <a
          [routerLink]="['/profile']"
          class="block px-4 py-2 text-sm"
          role="menuitem"
          tabindex="-1"
          id="user-menu-item-0"
          >Seu Perfil</a
        >

        <a
          (click)="onLogOut()"
          class="block px-4 py-2 text-sm cursor-pointer"
          role="menuitem"
          tabindex="-1"
          id="user-menu-item-2"
          >Log out</a
        >
      </div>
    </div>
  </div>
</div>
