<nav
  aria-label="Navegador de páginas"
  class="justify-content-between d-flex align-items-center"
  style="margin-top: 8px"
>
  <div class="justify-content-start">
    <span class="result-list">
      {{
        config.totalItems > 0
          ? (config.currentPage - 1) * config.itemsPerPage + 1
          : 0
      }}
      –
      {{
        isLastPage()
          ? config.totalItems
          : config.currentPage * config.itemsPerPage
      }}
      de {{ config.totalItems }} itens
    </span>
  </div>
  <pagination-template
    #p="paginationApi"
    [id]="config.id"
    [maxSize]="5"
    (pageChange)="changePage($event)"
  >
    <ul
      class="
        pagination
        custom-pagination
        justify-content-end
        d-flex
        align-items-center
      "
    >
      <li>
        <button
          class="btn btn-icon mx-1 align-items-center justify-content-center"
          (click)="p.previous()"
          data-message="Página anterior"
          aria-disabled="true"
          [disabled]="isFirstPage()"
        >
          <i class="bi bi-chevron-left"></i>
        </button>
      </li>
      <ng-container *ngFor="let page of p.pages; index as i">
        <li [class.disabled]="p.getCurrent() === page.value">
          <a
            [class.active]="p.getCurrent() === page.value"
            class="page-link align-items-center justify-content-center"
            (click)="p.setCurrent(page.value)"
          >
            {{ page.label }}
          </a>
        </li>
      </ng-container>
      <li>
        <button
          class="btn btn-icon mx-1 align-items-center justify-content-center"
          (click)="p.next()"
          data-message="Próxima página"
          aria-disabled="true"
          [disabled]="isLastPage()"
        >
          <i class="bi bi-chevron-right"></i>
        </button>
      </li>
    </ul>
  </pagination-template>
</nav>
