<section class="sc-login">
    <div class="f-login">
        <img src="./assets/img/logo-azul.svg">
        <p>Bem vindo de volta</p>
        <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput placeholder="Placeholder">
        </mat-form-field>
        <button mat-raised-button color="primary">Entrar</button>
    </div>
    <div class="img-login">
        <img src="./assets/img/man-doing-online-payment.svg">
    </div>
</section>