<div class="table-container flex">
  <app-table-actions
    [totalPaymentsLength]="totalPaymentsLength"
    (selectedPaginationOptions)="getPayments($event)"
    (usernameToBeFiltered)="whenUsernameHasBeenTyped($event)"
    (selectedAdvancedFilters)="getPayments(null, $event)"
  ></app-table-actions>

  <po-table [p-columns]="columns" [p-items]="payments" [p-loading]="isLoading">
    <ng-template p-table-cell-template let-column="column" let-row="row" data-cy="payment-row">
      <po-info *ngIf="column.property === 'username'" [p-label]="row?.name" [p-value]="row?.username"></po-info>

      <div *ngIf="column.property === 'date'">
        {{ row?.date | dateWithTime }}
      </div>

      <span *ngIf="column.property === 'value'">
        {{ row?.value | brl }}
      </span>

      <po-checkbox
        *ngIf="column.property === 'isPayed'"
        [(ngModel)]="row.isPayed"
        (p-change)="updateIfPaymentIsPayed(row, $event)"
      ></po-checkbox>

      <div *ngIf="column.property === 'actions'">
        <po-button
          p-type="link"
          p-icon="po-icon po-icon-edit"
          (p-click)="paymentModal.openWithEditMode(row)"
          data-cy="payment-edit-button"
        ></po-button>

        <po-button
          p-type="link"
          p-icon="po-icon po-icon-clear-content"
          (p-click)="deletePaymentModal.open(row)"
          data-cy="payment-delete-button"
        ></po-button>
      </div>
    </ng-template>
  </po-table>
</div>

<app-payment-modal
  #paymentModal
  (newPaymentWasRegistered)="getPayments()"
  (paymentWasEdited)="getPayments()"
></app-payment-modal>

<app-delete-payment-modal #deletePaymentModal (paymentWasDeleted)="getPayments()"></app-delete-payment-modal>
