<nav class="navbar fixed-top navbar-dark bg-primary">
  <div class="container-fluid px-4">
    <a class="navbar-brand">
      <img
        src="../../../assets/images/payfriends-logo-white.svg"
        alt="Imagem apenas com o texto: Pay Friends."
        width="100"
      />
    </a>
    <div>
      <img
        class="pf-user-img"
        src="https://robohash.org/asperioresprovidentconsequuntur.png?size=150x150&set=set1"
      />
      <button class="btn btn-icon mx-2" (click)="logout()">SAIR</button>
    </div>
  </div>
</nav>
