@import "../../../assets/scss/utils/grid.brekpoints";
@import "../../../assets/scss/variables";

.modal{
    &__overlay {
        background-color: rgba(0, 0, 0, 0.6);
        height: 100%;
        left: 0;
        min-height: 100vh;
        opacity: 0.8;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9999;
    }
    &__content {
        align-items: center;
        background-color: #fff;
        border-radius: 0;
        height: 100vh;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 9999;
        padding: 32px;
        @media only screen and (min-width: breakpoint(md)){
            border-radius: 4px;
            box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
            top: 50%;
            height: auto;
            width: 60% !important;
            max-width: 770px;
        }
    }
}