.btn-save{
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: auto;
    float: right;
    background: #007DFE;
    border-radius: 4px;
    font-family:  Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.title.dialog{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    color: #333333;
}

.mat-typography p{
    padding: auto;
    margin: 3% 2% 3% 2%;
}