<div>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef> Usuário </th>
      <td mat-cell *matCellDef="let payment">
        <span>{{payment.name}}</span>
        <span>{{payment.username}}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Titulo </th>
      <td mat-cell *matCellDef="let payment">
        <span>{{payment.title}}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Data </th>
      <td mat-cell *matCellDef="let payment">
        <span>{{payment.date}}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef> Valor </th>
      <td mat-cell *matCellDef="let payment">
        <span>{{payment.value}}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="isPayed">
      <th mat-header-cell *matHeaderCellDef> Pago </th>
      <td mat-cell *matCellDef="let payment">
        <span>{{payment.isPayed}}</span>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of payment list">
  </mat-paginator>
</div>