<div>
  <app-header></app-header>

  <section>
    <div class="title-container">
      <h1>Meus Pagamentos</h1>
      <div class="button-container">
        <button class="button" type="submit" (click)="openModalTransaction()">ADICIONAR PAGAMENTO</button>
      </div>
    </div>
    <div class="search_pagination-container">
      <div class="search-container">
        <input
          type="text"
          placeholder="Pesquisar por usuário"
          [formControl]="queryField"
        />
        <button (click)="onSearch()">
          <img src="./assets/images/search.png" alt="Icone de pesquisa" />
        </button>
      </div>
      <div class="pagination-container">
        <div class="select">
          <label for="pages">Exibir</label>
          <select name="limit" (change)="setLimit()" [formControl]="limit">
            <option *ngFor="let option of options" [value]="option">
              {{ option }}
            </option>
          </select>
        </div>
        <div class="pagination">
          <a (click)="setPage(pager.currentPage - 1)">
            <img src="./assets/images/left.png" alt="Seta para a esquerda" />
          </a>

          <a
            *ngFor="let page of pager.pages"
            [ngClass]="{ active: pager.currentPage === page }"
            (click)="setPage(page)"
          >
            {{ page }}
          </a>

          <a (click)="setPage(pager.currentPage + 1)">
            <img src="./assets/images/right.png" alt="Seta para a direita" />
          </a>
        </div>
      </div>
    </div>
    <app-transactions-table
      [transactions]="pagedItems"
      (refreshTransactionEmitter)="refresh()"
    ></app-transactions-table>
  </section>
</div>

<ng-template #transactionModal>
  <div class="transaction-modal modal-body">
    <form [formGroup]="form">
      <p class="modal-title">Adicionar pagamento</p>

      <div class="container">
        <div class="input-container">
          <input id="username" type="text" required formControlName="username" />
          <label for="username" alt="Usuário" placeholder="Usuário"></label>
        </div>

        <div class="input-container">
          <input id="value" type="number" required formControlName="value"/>
          <label for="value" alt="Valor" placeholder="Valor"></label>
        </div>

        <div class="input-container">
          <input id="date" type="datetime-local" required formControlName="date" />
        </div>

        <div class="input-container">
          <input id="title" type="text" required formControlName="title"/>
          <label for="title" alt="Título" placeholder="Título"></label>
        </div>
      </div>

      <div class="button-container right">
        <button (click)="onDeclineTransaction()" class="button button--secondary">
          CANCELAR
        </button>
        <button
          (click)="onSubmit()"
          class="button"
        >
          SALVAR
        </button>
      </div>
    </form>
  </div>
</ng-template>

