<app-header></app-header>

<section>
  <div class="title-container">
    <h1>Meus Pagamentos</h1>
    <div class="button-container">
      <button class="button" type="submit">ADICIONAR PAGAMENTO</button>
    </div>
  </div>
  <div class="search_pagination-container">
    <div class="search-container">
      <input type="text" placeholder="Pesquisar por usuário" name="search" />
      <button>
        <img src="./assets/images/search.png" alt="Icone de pesquisa" />
      </button>
    </div>
    <div class="pagination-container">
      <div class="select">
        <label for="pages">Exibir</label>
        <select name="limit">
          <option *ngFor="let option of options" [value]="option">
            {{ option }}
          </option>
        </select>
      </div>
      <div class="pagination">
        <a href="#"
          ><img src="./assets/images/left.png" alt="Seta para a esquerda"
        /></a>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#"
          ><img src="./assets/images/right.png" alt="Seta para a direita"
        /></a>
      </div>
    </div>
  </div>
  <app-transactions-table
    [transactions]="transactions"
  ></app-transactions-table>
</section>
