section {
  padding: 64px;
  background-color: #F2F2F2;

  h1 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 36px;
    color: #333333;
  }

  .title-container {
    display: flex;
    margin: 21px 0;
    flex-direction: column;

    .button-container {
      width: 230px;
      align-self: end;
    }
  }

  .search_pagination-container {
    width: 100%;
    background: #ffff;
    border-radius: 8px 8px 0 0;
    box-shadow: 0px 2px 4px rgba(4, 38, 82, 0.06);
    padding: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .search-container {
      border: 1px solid #cfdce5;
      box-sizing: border-box;
      border-radius: 6px;

      height: 32px;
      width: 215px;

      input[type='text'] {
        padding-left: 8px;
        margin-top: 5px;
        font-size: 14px;
        border: none;
      }

      button {
        float: right;
        margin-top: 2px;
        margin-right: 16px;
        background: #fff;
        font-size: 17px;
        border: none;
        cursor: pointer;
      }
    }

    .pagination-container {
      display: flex;
      align-items: center;
      justify-content: space-around;

      color: #69788c;

      .select + .pagination {
        margin-left: 50px;
      }

      .select {
        label + select {
          margin-left: 8.75px;
        }

        select {
          border: 1px solid #cfdce5;
          box-sizing: border-box;
          border-radius: 6px;
          padding: 4px 8px;
          width: 77px;
          height: 32px;
        }
      }

      .pagination {
        display: inline-block;

        a {
          color: #69788c;
          float: left;
          padding: 4px 8px;
          text-decoration: none;

          &:hover:not(.active) {
            background-color: #ddd;
            border-radius: 5px;
          }

          &.active {
            background-color: #007dfe;
            color: white;
            border-radius: 6px;
          }
        }
      }
    }
  }
}

.transaction-modal {
  padding: 40px 38px;

  p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: 0.15px;

    color: #000000;
  }

  p.modal-title {
    color: #333333;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 45px;
  }

  .button-container {
    margin-top: 52px;

    &.right {
      text-align: right;
    }

    button {
      width: 150px;

      & + button {
        margin-left: 29px;
      }
    }
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 0;
  }
}
