<!-- HEADER -->
<app-header></app-header>

<!-- PAYMENTS -->

<section class="section-payments">
    <p>Meus pagamentos</p>

    <div class="container">
        <!-- Button -->
        <button mat-raised-button class="btn-add" (click)="openDialog()">Adicionar pagamento</button>

        <!-- Filter and Pagination -->
        <div class=" bg-table">
            <div class="row d-flex align-content-center flex-wrap">
                <div class="col-sm d-flex justify-content-start">
                    Column
                </div>
                <div class="col-sm d-flex justify-content-end">
                    Column
                </div>
                <div class="col-sm d-flex justify-content-end">
                    Column
                </div>
            </div>
        </div>

        <!-- TABLE PAYMENTS -->

    </div>
</section>