//section
.section-payments{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    height: 100%;
    overflow: hidden;
    background: #F2F2F2;
}

// Meus pagamentos
.section-payments p{
    position: absolute;
    width: 376px;
    height: 60px;
    left: 48px;
    top: 35px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 44px;
    color: #333333;
}

//container
.container{
    position: absolute;
    top: 150px;
    height: 50%;
    width: 92%;
    left: 48px;
}

//Button Add Payment
.btn-add{
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: auto;
    float: right;
    background: #007DFE;
    border-radius: 4px;
    font-family:  Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #FFFFFF;
}

// Container table
.bg-table{
    position: relative;
    right: 0; 
    height: 50%;
    top: 50px;
    width: auto;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(4, 38, 82, 0.06);
    border-radius: 8px;

}

.input-filter{
    padding: 4px 8px;
    position: absolute;
    height: 32px;
    left: 15px;
    top: 20px;
    border: 1px solid #CFDCE5;
    box-sizing: border-box;
    border-radius: 6px;
}

.btn-filter{
    /* Grey */
    background: #E6ECF0;
    border-radius: 6px;
    position: absolute;
    top: 20px;
    left: 220px;
    flex-direction: column;
    align-items: center;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    padding: 4px 8px;
    /* Body Text */

    color: #2D3540;
}

.pagination{
    display: flex;
    float: right;
    justify-content: right;
    position: absolute;
    top: 20px;
}

.page-item{
    position: static;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    /* White */
    color: #FFFFFF;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 2px;
}

.page-link{
    color: #69788C;
}

.page-link:hover,
.page-link:focus,
.page-link:active{
    background: #007DFE;
    border-radius: 6px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 4px;
    border: none;
    color: white;
}

.pagination-label{
    position: absolute;
    top: 30px;
    right: 290px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    letter-spacing: -0.2px;
    /* Secondary Text */
    color: #69788C;
}


.pagination-select{
    display: flex;
    position: absolute;
    top: 20px;
    right: 230px;
    border: 1px solid #CFDCE5;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 4px 8px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* Body Text */
    color: #2D3540;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}


// table

/* Structure */
 
  .table-container {
    position: relative;
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
    top: 50px;
  }
  
  table {
    width: 100%;
  }
  
  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .example-rate-limit-reached {
    max-width: 360px;
    text-align: center;
  }
  
  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }
  
  .mat-column-created {
    max-width: 124px;
  }