//section
.section-payments{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    height: 100%;
    overflow: hidden;
    background: #F2F2F2;
}

// Meus pagamentos
.section-payments p{
    position: absolute;
    width: 376px;
    height: 60px;
    left: 48px;
    top: 35px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 44px;
    color: #333333;
}

//container
.container{
    position: absolute;
    top: 150px;
    height: 50%;
    width: 92%;
    left: 48px;
}

//Button Add Payment
.btn-add{
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: auto;
    float: right;
    background: #007DFE;
    border-radius: 4px;
    font-family:  Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #FFFFFF;
}

// Container table
.bg-table{
    position: relative;
    right: 0; 
    top: 50px;
    height: 50%;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(4, 38, 82, 0.06);
    border-radius: 8px;

}

.filter-pagination{
    left: 3%;
    top: 15%;
}

.input-filter{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px 8px;

    position: absolute;
    height: 32px;
    left: 0px;
    right: 109.2px;
    top: 1px;
    border: 1px solid #CFDCE5;
    box-sizing: border-box;
    border-radius: 6px;
}

.pagination{
    display: flex;
    top: 0%;
    top: 1px;
    left: 0px;
}

.page-item{
    position: static;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    /* White */
    color: #FFFFFF;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 2px;
}

.page-link{
    color: #69788C;
}

.page-link:hover,
.page-link:focus,
.page-link:active{
    background: #007DFE;
    border-radius: 6px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 4px;
    border: none;
    color: white;
}