//section
.section-payments{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    height: 150%;
    overflow: hidden;
    background: #F2F2F2;
}

// Meus pagamentos
.section-payments p{
    position: absolute;
    width: 376px;
    height: 60px;
    left: 48px;
    top: 35px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 44px;
    color: #333333;
}

//container - button add payment + table
.container-table{
    position: absolute;
    top: 150px;
    // height: 50%;
    width: 92%;
    left: 48px;
}

//Button Add Payment
.btn-add{
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: auto;
    float: right;
    background: #007DFE;
    border-radius: 4px;
    font-family:  Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #FFFFFF;
}

//pagination + serch + table
.bg-table{
    position: relative;
    right: 0; 
    // height: 50%;
    top: 50px;
    width: auto;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(4, 38, 82, 0.06);
    border-radius: 8px;
  
}

//input search
.input-filter{
    padding: 4px 8px;
    position: absolute;
    height: 32px;
    left: 15px;
    top: 20px;
    border: 1px solid #CFDCE5;
    box-sizing: border-box;
    border-radius: 6px;
}

//btn filter advanced
.btn-filter{
    /* Grey */
    background: #E6ECF0;
    border-radius: 6px;
    position: absolute;
    top: 20px;
    left: 220px;
    flex-direction: column;
    align-items: center;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    padding: 4px 8px;
    /* Body Text */

    color: #2D3540;
}

//btn clear filter advanced 
.btn-filter-clear{
  /* Grey */
  background: #E6ECF0;
  border-radius: 6px;
  position: absolute;
  top: 20px;
  left: 300px;
  flex-direction: column;
  align-items: center;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  padding: 4px 8px;
  /* Body Text */

  color: #2D3540;
}

//Pagination
.pagination{
    display: flex;
    float: right;
    justify-content: right;
    position: absolute;
    top: 10px;
}

// Table

/* Structure */ 
  .table-container {
    position: relative;
    min-height: 400px;
    max-height: 600px;
    overflow: auto;
    top: 50px;
  }
  
  table {
    width: 100%;
  }
  
  /*Change font header table*/
  .mat-header-cell{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;

    /* Body Text */

    color: #2D3540;
  }

  table tr{
    height: 81px;
  }

  table td span{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #69788C;
  }

  /*Defining color of even lines*/
  table tr:nth-child(even) {background: #F5F8FA}

  // Color icon isPayed
  .material-icons.color_blue { color: #007DFE; }
         
  
  /* tablet, landscape iPad, lo-res laptops ands desktops */
@media screen and (max-width:768px) { 
  
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media screen and (max-width:600px) { 

  .container-table{
    width: 82%;
}

}

/* smartphones, Android phones, landscape iPhone */
@media screen and (max-width:480px) { 
  .btn-add{
    float: right;
  }

  .btn-filter{
    display: none !important;
  }

  .btn-filter-clear{
    display: none !important;
  }

  .section-payments p{
    font-size: 26px;
  }

}

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media screen and (max-width:320px) {     
  .pagination{
    display: none !important;
  }
}