@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@600&family=Roboto:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px Roboto, sans-serif;
  background: #f2f2f2;
  -webkit-font-smoothing: antialiased;
}

input,
button {
  font: 400 14px Roboto, sans-serif;
}

button {
  cursor: pointer;
}

form {
  input {
    box-sizing: border-box;
    width: 100%;
    height: calc(3em + 2px);
    margin: 0 0 1em;
    padding: 6px;
    border: 1px solid #dcdce6;
    border-radius: 3px;
    background: none;
    font-size: 16px;
    font-weight: 400;
    resize: none;
    outline: none;
  }

  input:focus {
    border-color: #dcdce6;
  }
  input:focus + label[placeholder]:before {
    color: rgba(0, 0, 0, 0.6);
  }
  input:focus + label[placeholder]:before,
  input:valid + label[placeholder]:before {
    transition-duration: 0.2s;
    transform: translate(0, -1.6em) scale(0.9, 0.9);
    font-weight: bold;
  }

  input + label[placeholder] {
    display: block;
    line-height: 0.25em;
    margin-top: calc(-3em - 2px);
    margin-bottom: calc((3em - 1em) + 2px);
    background: transparent;
  }

  input + label[placeholder]:before {
    content: attr(placeholder);
    display: inline-block;
    margin: 0 calc(0.5em + 2px);
    padding: 8px 2px;
    color: #7d7d7d;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff);
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.button {
  width: 100%;
  height: 36px;
  background: #007dfe;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  transition: filter 0.2s;

  &--secondary {
    background: #F5F5F5;
    color: #333333;
  }
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: auto;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkbox-custom {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #007dfe;
    border-radius: 2px;

    &:after {
      left: 7px;
      top: 4px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      content: '';
      position: absolute;
      display: none;
    }
  }

  &:hover input ~ .checkbox-custom {
    background-color: #007dfe;
  }

  & input:checked ~ .checkbox-custom {
    background-color: #007dfe;
  }

  & input:checked ~ .checkbox-custom:after {
    display: block;
  }
}
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
