// Fontes:
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");

// Ícones:
@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
  background-color: #F2F2F2;
}

.pf-align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pf-page-header {
  margin-top: 90px;
  margin-bottom: 20px;
  padding: 0;
  .pf-page-title {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    color: #333333;
  }

  .pf-header-buttons {
    text-align: end;
    margin-top: -15px;
  }
}

.btn-icon {
  font-size: 1rem !important;
  padding: 0px 6px;
  margin: 0 2px;
  color: #333333;
}

// Modificações no Bootstrap:
.container {
  max-width: 95% !important;
}
.btn {
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.25px;
  font-size: 0.75rem;
}

.btn-primary {
  background-color: #007dfe;
}

.bg-primary {
  background-color: #002d69 !important;
}

.form-check-input[type=checkbox] {
  background: #007DFE;
  border: none;
  border-radius: 2px;
}

.table>:not(:last-child)>:last-child>* {
  border-bottom: 1px solid #CFDCE5;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  --bs-table-accent-bg: #F5F8FA
}

.modal-content {
  border: none;
  border-radius: 2px;
}

.modal-header {
  border: none;
}

.modal-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  color: #333333;
}

/* Scroll Bar */
::-webkit-scrollbar {
  height: 6px;
  width: 5px;
  background: #dee2e6;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #aaa;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:vertical {
  background: #aaa;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background: #777;
}

:root{
  scrollbar-width: thin;
}

* {
  scrollbar-width: thin;
}
