@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap');

$font-size-sm: 12px;
$font-size-md: 24px;
$font-size-lg: 32px;

$light-grey: #E5E5E5;
$medium-grey: #69788C;
$dark-grey: #333;

$light-blue: #6BA5E4;
$dark-blue: #002d69; 

$bluegrey: #F5F8FA;

$primary-btn: #007DFE