.mainModal {
  width: 25vw;
  height: 30%;
  min-width: 311px;
}

.buttonRow {
  display: flex;
  justify-content: flex-end;
}
.buttonModal {
  width: 150px;
}

.rowInput {
  display: flex;
  justify-content: space-between;
}
.input {

  mat-form-field{
    width: 40% !important;
  }

  ::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: rgba(0, 0, 0, 0.12)!important;
  }


  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgba(0, 0, 0, 0.12) !important;
  }


  ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: rgba(0, 0, 0, 0.12)!important;
  }

  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: #f44336 !important;
    opacity: 0.8!important;
  }


  ::ng-deep .mat-input-element {
    caret-color: rgba(0, 0, 0, 0.12)!important;
  }


  ::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
    caret-color: #f44336 !important;
  }


  ::ng-deep .mat-form-field-label {
    color: rgba(0,0,0,.6)!important;
    // color: $mainColor!important;
  }


  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: rgba(0, 0, 0, 0.6)!important;
  }


  ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: #f44336 !important;
  }
}