<div class="mainModal">
    <h1>Filtar por intervalo de valor</h1>
    <div [formGroup]="form"  class="rowInput input">
        <mat-form-field appearance="outline">
            <mat-label>Valor inicial</mat-label>
            <input id="valueStart" formControlName="start" currencyMask [options]="{prefix:'', decimal: ',', thousands: '.',align: 'left', nullable: true}"  matInput  required>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Valor final</mat-label>
            <input id="valueEnd" formControlName="end" currencyMask [options]="{prefix:'', decimal: ',', thousands: '.',align: 'left', nullable: true}" matInput required>
        </mat-form-field>
    </div>
    <div class="buttonRow">
        <div style="display: flex; justify-content: space-between; width:100%">
            <button mat-raised-button (click)="dialogRef.close()" type="button" class="buttonModal">Cancelar</button>
            <button  mat-raised-button [disabled]="form.invalid" id="searchValue" (click)="emitValueRange()" type="button" class="button buttonModal">Buscar</button>
        </div>
    </div>
</div>