<div class="mainModal">
    <p>Usuário: {{ data?.name }}</p>
    <p>Data: {{ data?.date | date: 'dd/MM/yyyy' }}</p>
    <p>Valor: {{ data?.value | currency: 'BRL' }}</p>
    <div class="buttonRow">
        <div style="display: flex; justify-content: space-between; width:100%">
            <button mat-raised-button (click)="dialogRef.close()" type="button" class="buttonModal">Cancelar</button>
            <button id="save"  mat-raised-button (click)="emitPayment()" type="button" class="button buttonModal">Salvar</button>
        </div>
    </div>
</div>
